stages:
  - build
  - test
  - archive

before_script:  
  - export ANDROID_HOME=/ci/android-sdk
  - export ANDROID_NDK_HOME=/ci/android-ndk-r12b
  - export GRADLE_USER_HOME=/ci/gradle
  - export CI_BUILD=$CI_SERVER
  - export CI_BUILD_TAG=$CI_BUILD_TAG
  - mkdir -p ./releases

build:
  stage: build
  except:
    - tags  
  script:
    - cd ZaloPay && ./gradlew --no-daemon --max-workers=3 assembleProductionDebug

test:
  stage: test
  except:
    - tags
  script:
    - cd ZaloPay && ./gradlew --no-daemon --max-workers=3 testProductionDebugUnitTest :data:testDebugUnitTest

archive:
  stage: archive
  script:
    - cd ZaloPay && ./gradlew --no-daemon --max-workers=3 clean assembleProductionRelease assembleStagingRelease assembleSandboxRelease
  only:
    - tags
  artifacts:
    name: $CI_BUILD_STAGE_$CI_BUILD_TAG
    expire_in: 4 week
    paths:
      - releases/ZaloPay-sandbox-release-$CI_BUILD_TAG.apk
      - releases/ZaloPay-staging-release-$CI_BUILD_TAG.apk
      - releases/ZaloPay-production-release-$CI_BUILD_TAG.apk

