<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <!-- Permissions -->
    <application>
        <permission
            android:name="vn.com.vng.zalopay.stg1.permission.C2D_MESSAGE"
            android:protectionLevel="signature" />

        <uses-permission android:name="vn.com.vng.zalopay.permission.stg1.C2D_MESSAGE" />
    </application>
</manifest>
